[submodule "AnyKernel3"]
	path = AnyKernel3
	url = https://github.com/leanage-kernel/AnyKernel3
	branch = alioth
[submodule "aosp-clang"]
	path = aosp-clang
	url = https://android.googlesource.com/platform/prebuilts/clang/host/linux-x86
	branch = main
	shallow = true
[submodule "Wild_KSU"]
	path = Wild_KSU
	url = https://github.com/WildKernels/Wild_KSU
